<?xml version="1.0" encoding="UTF-8"?>

<web-app version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         metadata-complete="false">

    <display-name>Franchise</display-name>

    <!-- REST -->
    <context-param>
        <param-name>resteasy.resources</param-name>
        <param-value>com.douane.managed.rest.MessageRestBean</param-value>
    </context-param>



    <!-- Spring Security Facelets Tag Library -->
    <context-param>
        <param-name>javax.faces.FACELETS_LIBRARIES</param-name>
        <param-value>/WEB-INF/springsecurity.taglib.xml</param-value>
    </context-param>

    <context-param>
        <param-name>facelets.DEVELOPMENT</param-name>
        <param-value>false</param-value>
    </context-param>



    <context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>classpath:log4j.properties</param-value>
    </context-param>


    <!-- Spring Context Configuration' s Path definition -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>

    </context-param>

    <context-param>
        <param-name>org.apache.myfaces.ERROR_HANDLING</param-name>
        <param-value>false</param-value>
    </context-param>
    
    
   <!--  THEME -->
   	<context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>redmond</param-value>
    </context-param>
    
    <context-param>
        <param-name>primefaces.FONT_AWESOME</param-name>
        <param-value>true</param-value>
	</context-param>
	<mime-mapping>
 		<extension>woff2</extension>
 		<mime-type>application/x-font-woff2</mime-type>
	</mime-mapping>
   	
    <!-- Rest Listener 
    <listener>
        <listener-class>
            org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap
        </listener-class>
    </listener>
	-->
    <!-- The Bootstrap listener to start up and shut down Spring's root WebApplicationContext. It is registered to Servlet Container -->
    <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>
    <listener>
        <listener-class>
            org.springframework.web.context.request.RequestContextListener
        </listener-class>
    </listener>

    <!-- request http-->
    <filter>
        <filter-name>RequestFilter</filter-name>
        <filter-class>com.douane.requesthttp.RequestFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RequestFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>

    <!-- Spring Security -->
    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    
    <filter> 
  <filter-name>CharacterEncodingFilter</filter-name> 
  <filter-class>com.douane.managed.bean.CharacterEncodingFilter</filter-class> 
  <init-param> 
    <param-name>requestEncoding</param-name> 
    <param-value>UTF-8</param-value> 
  </init-param> 
</filter> 
<filter-mapping> 
  <filter-name>CharacterEncodingFilter</filter-name> 
  <url-pattern>/*</url-pattern>
  <dispatcher>REQUEST</dispatcher>
  <dispatcher>FORWARD</dispatcher> 
</filter-mapping> 
    
    <!-- Pretty faces -->
    <filter>
        <filter-name>Pretty Filter</filter-name>
        <filter-class>com.ocpsoft.pretty.PrettyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Pretty Filter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>FORWARD</dispatcher>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>ERROR</dispatcher>
    </filter-mapping>
    
    
    






    <!-- Project Stage Level -->
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    
    <!-- Managed SESSION EXPIRATION SERIALIZED VIEW if NEEDED
    <context-param>
    	<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
    	<param-value>client</param-value>
    </context-param>
    
    -->
    
    <!-- Hidden SESSION EXPIRATION SERIALIZED VIEW if NEEDED
    <context-param>
    	<param-name>com.sun.faces.enableRestoreView11Compatibility</param-name>
    	<param-value>true</param-value>
    </context-param>
    
    -->

    <!-- Welcome Page -->
    <welcome-file-list>
        <welcome-file>/pages/unsecure/login.xhtml</welcome-file>
    </welcome-file-list>

    <!-- JSF Servlet is defined to container -->
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!-- Mapping with servlet and url for the http requests. -->
    <!--servlet-mapping>
      <servlet-name>Faces Servlet</servlet-name>
      <url-pattern>/faces/*</url-pattern>
    </servlet-mapping-->
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.jsf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.faces</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>Faces Servlet</servlet-name>
    	<url-pattern>/javax.faces.resources/*</url-pattern>
</servlet-mapping>
    <error-page>
        <error-code>404</error-code>
        <!-- location>/AppExceptionHandler</location-->
        <location>/pages/unsecure/error_404.xhtml</location>
    </error-page>
    <error-page>
        <error-code>400</error-code>
        <!-- location>/AppExceptionHandler</location-->
        <location>/pages/unsecure/error_400.xhtml</location>
    </error-page>
    <error-page>
        <error-code>401</error-code>
        <!-- location>/AppExceptionHandler</location-->
        <location>/pages/unsecure/error_401.xhtml</location>
    </error-page>

    <error-page>
        <error-code>403</error-code>
        <location>/pages/unsecure/error_403.xhtml</location>
    </error-page>
    
    <error-page>
        <error-code>500</error-code>
        <location>/pages/unsecure/login.xhtml</location>
    </error-page>
    
    <error-page>
        <exception-type>javax.faces.application.ViewExpiredException</exception-type>
        <location>/pages/unsecure/login.xhtml</location>
    </error-page>
    

    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/pages/unsecure/error_400.xhtml</location>
    </error-page>
    <!-- welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list-->
    
    <!-- FILE UPLOAD CONFIGURATION -->
    <context-param>
        <param-name>primefaces.UPLOADER</param-name>
        <param-value>auto</param-value>
    </context-param>
    <filter>
        <filter-name>PrimeFaces FileUpload Filter</filter-name>
        <filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>PrimeFaces FileUpload Filter</filter-name>
        <servlet-name>Faces Servlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <session-config>
        <session-timeout>15</session-timeout>
    </session-config>
    
    
</web-app>

